/* paragraph text */
/* Regular 400 Poppins */
p {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 1em;
}

p.credits {
  font-size:.75em;
}

/* HEADLINE */
/* Extra-Bold 800 Poppins */
h1 {
font-family: 'Poppins', sans-serif;
font-weight: 800;
text-align: center;
font-size: 7.5em;
}

/* TRANSITIONS BETWEEN ACCORDIONS */
/* Extra-Bold 800 Poppins - smaller fonts */
h2 {
font-family: 'Poppins', sans-serif;
font-weight: 800;
text-align: center;
font-size: 2em;
}

/* COUNTY HEADER */
/* Semi-Bold 600 */
h3 {
font-family: 'Poppins', sans-serif;
font-weight: 1.5em;
}

/* UPDATED LAST - probably change from outside of headline */
h4 {
font-family: 'Poppins', sans-serif;
font-style: italic;
font-size: 1.25em;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size:.95em;
}

ul {
  font-family: 'Poppins', sans-serif;
}


/* ACCORDIONS */

/* Semi-Bold 600 */
.accordion-header {
font-family: 'Poppins', sans-serif;
font-weight: 600;
}

/* paragraph text of drop downs */
/* Regular 400 Poppins */
.accordion-body {
font-family: 'Poppins', sans-serif;
font-weight: 400;
}

/* ADAM and TEMPLATE STYLES

/* Nav Bar and footer styles */
.nav-item.nav-link{
  font-family: 'Poppins', sans-serif !important;
  text-decoration:none;
}

#logo {
  width:250px;
  margin-left:25px;
  margin-right:25px;
}

.footer {
  background: #000;
  color:#fff;
  height:70px;
  min-height: 70px;
  margin-top:25px;
  padding-top:25px;
  text-align:center;
}

.bg-dark {
  background-color: #000 !important;
}

/*button style*/
.btn-primary{
  background-color: #FAE255 !important;
  border-color: #FAE255 !important;
}

.button {
  color: #990000;
  font-family: 'Poppins,' sans-serif;
}

.btn btn-primary {
  color: #990000;
  font-family: 'Poppins,' sans-serif;
}

a.btn.btn-primary {
  text-decoration:none;
  margin-top: 15px;
}

/* STYLES FOR ACCORDIONS */

.card {
  border:1px solid #FFFFFF !important;
  font-family: 'Poppins,' sans-serif;
  font-style: normal;
  text-transform: normal;
}

/* Maryland vaccine info accordion */

.card-body.p-5 {
  background-color: #ffffff;
  font-family:'Poppins,' sans-serif;
}

.collapsible-link{cursor:pointer;}

#headingMaryland.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}

/* small Accordion styles */

#bltconvention.card-header-small.collapsed{
  font-family: 'Poppins,' sans-serif !important;
}

a.card-title {
   font-family: Poppins; /* we have questions... */
   font-size: 1em;
   font-weight:300;
 }

.card-header-small.collapsed {
  font-family: 'Poppins,' sans-serif !important;
}


/* County Accordion styles */
/*AA County header*/
#headingAACounty.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*Balitmore City header*/
#headingBaltCity.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*Balitmore County header*/
#headingBaltCounty.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*Montgomery County header*/
#headingMontCounty.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*PG County header*/
#headingPGCounty.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}

/*FAQ accordion styles*/
/*question 1 header*/
#headingFAQ1.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*question 2 header*/
#headingFAQ2.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*question 3 header*/
#headingFAQ3.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*question 4 header*/
#headingFAQ4.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}
/*question 5 header*/
#headingFAQ5.card-header.bg-white.shadow-sm.border-0{
  background-color: #FAE255 !important;
}

/* Horizontal line */
.collapsible-link::before {
  content: '';
  width: 14px;
  height: 2px;
  background: #333;
  position: absolute;
  top: calc(50% - 1px);
  right: 1rem;
  display: block;
  transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
  content: '';
  width: 2px;
  height: 14px;
  background: #333;
  position: absolute;
  top: calc(50% - 7px);
  right: calc(1rem + 6px);
  display: block;
  transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
  transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
  transform: rotate(180deg);
}


/* Small Collapse styles - vax sites */

.no-border {border:0;}

.card-header-small {
  cursor: pointer;
}

.card-header-small:after {
    font-family: 'FontAwesome';
    content: "\f068";
    font-size:.75em;
    float: right;
}
.card-header-small.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
}

/* Twitter and Facebook icon styles =========== */

#social-icons {
  width:100%;
  text-align:center;
}

.icon-twitter, .icon-facebook {
  margin-right:10px;
  font-size:2em;
  color:#991b1e;
  cursor: pointer;

}

.icon-twitter:hover, .icon-facebook:hover {
  color:#cdcdcd;

}

@font-face {
  font-family: 'icons';
  src:url('../icons/icons.eot?fylnot');
  src:url('../icons/icons.eot?#iefixfylnot') format('embedded-opentype'),
    url('../icons/icons.woff?fylnot') format('woff'),
    url('../icons/icons.ttf?fylnot') format('truetype'),
    url('../icons/icons.svg?fylnot#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e621";
}
.icon-facebook:before {
  content: "\e620";
}

/* Links */
a:link{
  color: #990000;
  text-decoration: underline;
}

a:visited {
  color: #990000;
  text-decoration: underline;
}

a:hover {
  color: #e70000;
  text-decoration: underline;
}

a:active {
  color: #e70000;
  text-decoration: underline;
}


/* Resp0nsive styles =========== */

@media screen and (max-width: 550px) {
  h1{
    font-size:3em;
  }

}
