<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap" rel="stylesheet">

/* This is a single-line comment */

/* paragraph text */
/* Regular 400 Poppins */
.p {
font-family: "Poppins," sans-serif;
font-weight: 400;
font-size: 20px;
}

/* HEADLINE */
/* Extra-Bold 800 Poppins */
h1 {
font-family: "Poppins," sans-serif;
font-weight: 800;
text-align: center;
font-size: 100px;
}

/* TRANSITIONS BETWEEN ACCORDIONS */
/* Extra-Bold 800 Poppins - smaller fonts */
h2 {
font-family: "Poppins," sans-serif;
font-weight: 800;
text-align: center;
}

/* COUNTY HEADER */
/* Semi-Bold 600 */
h3 {
font-family: "Poppins," sans-serif;
font-weight: 600;
}

/* UPDATED LAST - probably change from outside of headline */
h4 {
font-style: italic;
}

/* ACCORDIONS */

/* Semi-Bold 600 */
.accordion-header {
font-family: "Poppins," sans-serif;
font-weight: 600;
}

/* paragraph text of drop downs */
/* Regular 400 Poppins */
.accordion-body {
font-family: "Poppins," sans-serif;
font-weight: 400;
}

/* TWITTER FEED */
.twitter-timeline {
  align-content: center;
}
